#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: pink;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.app {
  width: 100%;
  background-color: orange;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.toggle-sidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
  font-size: 24px;
  background-color: #191970;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}
.main-content {
  margin-left: 220px; /* para dejar espacio al sidebar */
  padding: 20px;
  transition: margin-left 0.3s ease;
}
.sidebar.closed ~ .main-content {
  margin-left: 0;
}
html {
  scroll-behavior: smooth;
}
